body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Playfair Display',serif;
    color: #626262;
}

img {
    min-width: 100%;
    height: auto;
}

a {
    color: #b4ad9e;
}

a:hover {
    color: #898377;
}

header .navbar-light {
    background-color: #fff;
}

header .navbar-brand {
    font-family: 'Inconsolata', monospace;
    font-style: 30px;
}

